<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Book</title>
  </head>
  <body>
     <form action="{{ url_for('add') }}" method="POST">
        <label>Book Name</label>
        <input name="title" type="text">
        <label>Book Author</label>
        <input name="author" type="text">
          <label>Book Pages</label>
        <input name="pages" type="text">
         <label>Lecture Year</label>
        <input name="lecture_year" type="text">
        <label>Format</label>
       <select name="formats" id="lang">
        <option value="Ebook">Ebook</option>
        <option value="Paper">Paper</option>
      </select>
        <button type="submit">Add Book</button>
    </form>
  </body>
</html>
